:root {
  --background-color: #1c242f; /* Dark background for the full page */
  --text-color: #ffffff; /* White text for contrast */
  --accent-color: #6f3ce8; /* A vibrant accent color for buttons and highlights */
  --cell-color: #1f65ab; /* Light color for the grid cells */
  --cell-border-color: #A7C7E7; /* Accent color for the grid cell borders */
  --grid-size:4;
}

body, html {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top:0;
  height: 90vh;
  box-sizing: border-box;
  }
  
  .score-display {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .gridContainer {
    width:500px;
    height:500px;
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
  }
  
  .gridCell {
    border: 1px solid #be8b8b;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--cell-color);
    border: 1px solid var(--cell-border-color);
    aspect-ratio: 1/1;
  }
  
  .gridCell.revealed {
    border: 1px solid transparent; 
  }
  
  .score {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .gameInfo h2 {
    margin-bottom: 0.5rem; 
  }

  .gameInfo h5 {
    margin-top: 0;
  }
  
.gameOver {
    opacity: 0.5;
    pointer-events: none; /* Disables clicking on the grid */
  }
  
  .guessForm {
    margin-top: 20px;
  }
  
  .controls-container {
    display: flex;
    align-items: center;
    gap: 25px; 
    margin-top: 5px;
    margin-bottom: 0;
  }
  form {
    padding: 0;
    margin:0;
  } 

  .finalScore {
    margin-top: 20px;
    font-weight: bold;
  }

  
  button, input[type="text"], select {
    font-size: 1rem;
    padding: 10px 20px;
    text-emphasis-color: black;
    text-decoration-color: black;
    border-radius: 5px;
    margin:0;
    color:black;
    box-shadow: 0px 0px 5px rgba(212, 103, 103, 0.1);
    
  }
  
  
  button {
    background-color: #FFA500;
    cursor: pointer;
    transition: background-color 0.5s;
    margin:0;
  }

  .submit-button:hover{
    background-color: rgb(63, 245, 63);

  }

  .quit-button:hover{
    background-color: rgb(255, 85, 85);
  }
  @keyframes reveal {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .gridCell.revealed {
    animation: reveal 0.5s ease-in-out forwards;
  }
  

  .grid-size-selector {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px; 
    margin-top: 20px;
 
  }

  select {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ffab91;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Add media queries for responsiveness */
  @media (max-width: 768px) {
    .gridContainer {
      width: 100%; /* Adjust for smaller screens */
      height: auto; /* Adjust for smaller screens */
      grid-template-columns: repeat(var(--grid-size), 1fr);
    }
  }